.header {
    grid-area: h;
    background: linear-gradient(to top right, purple, crimson, orangered, gold);;
}

.header img {
    width: 105px;
}

.loginBlock {
    float: right;
}

.loginBlock a{
    color: white;
    text-decoration: none;
}